body {
  margin: 0;
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
  box-sizing : border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#poweredby {
  position: fixed;
  bottom: 10px;
  right: 15px;
}  

#createdby {
  position: fixed;
  bottom: 10px;
  right: 15px;
  color: #555;
  opacity: 0.8;
  font: bold 14px Arial, Helvetica, sans-serif
}

#createdby img {
  max-height: 32px
}

#createdby:hover {
  color: #555;
  opacity: 1;
}

#embed-widget {
  position: fixed;
  bottom: 10px;
  left: 15px;
}

#embed-widget #embed-code {
  margin-right: 5px;
  font-size: 12.5px;
  line-height: 18px;
}

/*#poweredby a {
  text-decoration: none;
  color: #777;
}

#poweredby a:hover {
  color: #666;
}*/

#alert-error {
  text-align: center;
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
}

#loading {
  height: 20px;
  margin-top: 40px;
  display: none;
}

#loading-content {
  width: 80px;
  margin: 0 auto;
}

#loading-content img {
  display: block;
  float: left;
}

#loading-content .text {
  display: block;
  float: left;
  line-height: 20px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#poweredby-logo {
  display: block;
  background-image: url('/img/poweredby.png');
  background-repeat: no-repeat;
  width: 136px;
  height: 20px;
  opacity: 0.8;  
  padding: 2px;
}

#poweredby-logo:hover {
  opacity: 1;  
}